.text-upgrade:hover{
  font-size: 1.3rem;
}

.section_link-list a:hover{
  color: white;
}


.container_sidebar-icon a:hover{
  color: white;
}

.icon_playlist-container a:hover{
  color: white;
}

.text_color_grey li:hover{
  color: white;
}

.icon-final a:hover{
  color: white;
}

.icon-playlist:hover{
  color: white;
}


h6:hover{
  color: white;
}

.icon-left-container i:hover{
  color: white;
}

.icon-hover:hover{
  font-size: 1.3rem;
}

.section_link-list a:active:after{
  background-color: lime;
  position: absolute;
  height: 2px;
  width: 60px;
  content: "";
  bottom: 0;
  left: calc(50% - 30px);
}


 .overlay:hover:after{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.container_card-image .overlay{
  position: relative;
}

.circle-play{
  position: absolute;
  filter: invert();
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 30%;
  display: none;
}

.overlay:hover .circle-play{
 display: inline-block;
 z-index: 3;
}

.overlay_2:hover::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 50%;
}

.container_card-image .overlay_2{
  position: relative;
}

.overlay_2:hover .circle-play{
  display: inline-block;
  z-index: 3;
}

.play_bar_circle{
  background-color: green;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  left: 17%;
  display: none;
}

.play_bar_absolute:hover{
  background-color: green;
}

.play_bar_absolute:hover .play_bar_circle{
  display: inline-block;
  background-color: white;
}

.play_bar_circle-2{
  background-color: green;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  left: 51%;
  display: none;
}

.play_bar_absolute:hover .play_bar_circle-2{
  display: inline-block;
  background-color: white;
}

