@media screen and (max-width: 638px){
  .img_display_none{
    display: inline-block;
  }
  
}

@media  screen and (min-width: 639px) {
  .display-xs-none{
    display: inline-block;
  }
  .container_sidebar{
    width: 230px;
    padding: 20px 20px;
  }

  .container_sidebar-icon  li{
    height: 28px;
    display: block;
    margin: 10px 0px;
  }

  .container_sidebar-icon ul{
    padding: 28px 0;
  }
  
  .icon-final{
    position: relative;
    left: -34px;
  }

  hr{
    display: block;
    border-color: #282828;
    margin: 5px 0;
  }

}


@media  screen and (min-width: 878px){
  .container_card-image{
    width: calc(100% / 4 - 6px);
    }
  .icon-hearth {
      padding: 0 30px;
    }
}


@media screen and (min-width: 1440px){
  .container_card-image{
    width: calc(100% / 6 - 8px);
    }
    .icon-hearth {
      padding: 0 30px;
    }

}
