*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_body{
  display: flex;
  height: calc(100vh - 67px);
}

body{
  font-family: montserrat;
  color: white;
}

.container_sidebar-icon li img{
  height: 100%;
  vertical-align: middle;
  filter: brightness(0.5);
}

.display-xs-none{
  display: none;
}

.text_icon-none{
  text-decoration: none;
}

.container_sidebar-icon ul{
  list-style: none;
}

.text_color_grey{
  color: #878787;
  text-decoration: none;
}
.img_display_none{
  display: none;
}

.container_sidebar-icon a{
  color: #878787;
  font-size: 14px;
}

.icon_playlist-container{
  padding: 10px 0;
}

.icon-playlist{
  font-size: 33px;
  vertical-align: middle;
  color: #878787;
}

.text_color_grey li{
  padding: 10px 0;
}

/* Inizio Sidebar*/

.container_sidebar{
  width: 38px;
  background-color: #000000;
  padding: 6px 6px;
  display: flex;
  flex-direction: column;
}

.container_sidebar-icon{
  flex-shrink: 0;
}

.container_sidebar_playlist{
  flex-grow: 1;
  overflow: auto;
}

.container_sidebar_final{
  flex-shrink: 0;
}

.sidebar_final-icon{
  background-color: lightgray;
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 7px;
}

.icon-final{
  transform: scale(.5);
  padding-bottom: 7px;
 
}


/*Fine Sidebar*/


/*Inizio Main*/

.container_main_section{
  width: 100%;
  background-color: #141922;
  overflow: auto;
}

.container_main_padding{
  padding: 0px 20px;
}


/*Inizio upgrade*/

.section_upgrade{
  background-color: black;
  text-align: end;
  line-height: 90px;
  font-size: 14px;
  height: 90px;
  padding-right: 10px;
}

.text-upgrade{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10em;
  transition: transform .2s;
}

/*Fine upgrade*/


/*Inizio lista link*/
 
.section_link-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 35px;
  padding-top: 10px;
}

.section_link-list li{
  display: inline-block;
}

.section_link-list a{
  color: #878787;
  text-decoration: none;
  font-size: 13px;
  padding: 0px 19px;
}

/*Fine lista link*/

/*Inizio card*/

.container_card-central{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.container_card-image{
  width: calc(100% / 2 - 4px);
}

.card-image{
  width: 100%;
}

.container_card-text{
  text-align: center;
}

.image-border-radius{
  border-radius: 50%;
}

.card-text{
  padding: 20px 0;
}

.text_subtitle{
  padding: 10px 0;
}

.icon-left-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon-final-icon{
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}




/*Fine card*/

/*Fine Main*/

/*inizio actionbar-left*/

.container_actionbar{
  height: 67px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  z-index: 10;
  position: relative;
}

.container_actionbar-left{
  width: 25%;
  display: flex;
}

.container-text-left{
  padding: 0 9px;
  display: flex;
  flex-direction: column;
}

.actionbar_img{
  display: flex;
  align-items: center;
}

.actionbar_img-left{
  width: 50px;
}

/*Fine actionbar left*/

/*Inizio actionbar-central*/

.container_actionbar-central{
  width: 50%;
  text-align: center;
  padding: 0 20px;
}

.actionbar-central_icon{
  padding: 0 6px;
}

.play_bar{
  height: 5px;
  background-color: #5A5A5A;
  display: flex;
  flex-grow: 1;
  border-radius: 5px;
}

.container_play_bar{
  display: flex;
  align-items: center;
  position: relative;
}

.font_number_playbar{
  font-size: 12px;
  padding: 0 5px;
}

.play_bar_absolute{
  position: absolute;
  width: 15%;
  background-color: #C1C1C1;
  height: 5px;
}

.play_bar_left{
  background-color: color #878787;;
  height: 5px;
  flex-grow: 1;
}

.container_actionbar-central i{
  padding-bottom: 5px;
}

/*Fine actionbar-central*/

.container_actionbar-right{
  width: 25%;
}

hr{
  display: none;
}